.bg-light {
    background-color: rgb(235, 87, 87) !important;

}

.nav-link {
    color: white !important;
    display: flex !important;
    align-items: center !important;
    cursor: pointer;

}

.navbar-brand {
    color: white !important;
    margin-left: 30px !important;
}

.nav-item {
    margin: 0 10px !important;

}

.fa-right-to-bracket,
.fa-arrow-up-right-dots,
.fa-power-off,
.fa-book,
.fa-address-card {
    color: white !important;
    margin-left: 5px;


}

@media only screen and (max-width: 570px) {
    .nav-link {
        font-size: auto;
    }

    .fa-right-to-bracket,
    .fa-arrow-up-right-dots,
    .fa-power-off,
    .fa-book,
    .fa-address-card {
        display: none;


    }
}