.bg-light{
    background-color: rgb(235,87,87) !important;
    
}
.nav-link{
    color: white !important;
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
    
}
.navbar-brand{
    color: white !important;
    margin-left: 20px !important;
}
.nav-item{
    margin: 0 10px !important;
    
}
.fa-right-to-bracket{
    color: white !important;
    margin-left: 5px;
    
}
